@import '../partials/vars.scss';

.footer {
	background-color: var(--light);
	margin-top: 50px;
	width: 100%;

	.footer__header{
		display: flex;
		flex-direction: row;
		width: 1500px;
		max-width: 100%;
		margin: auto;

		.footer__header-item{
			flex-basis: 31%;
			margin: 20px;
		}
		@media only screen and (max-width: 768px) {
			flex-direction: column;
		}
	}
}