@import '../partials/vars.scss';
.jobmatcher{
    width: 1500px;
    max-width: 100%;
    margin: auto;
    margin-top: 90px;

    .jobmatcher__content{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: var(--secondary);
        border-radius: 20px;
        border: 1px solid RGBA(var(--textColor-rgb) / 10%);
        overflow: hidden;

        .jobmatcher__actions {
            flex-basis: 40%;
            padding: 20px;
            border-radius: var(--radius);
            position: relative;
            background-color: var(--light);

            .jobmatcher__counter{
                position: absolute;
                top: -20px;
                left:  -20px;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                padding: 4px;
            }
        }
        .jobmatcher__result {
            flex-basis: 60%;
            padding: 20px;
            //border: 1px solid RGBA(var(--textColor-rgb) / 20%);

            .jobmatcher__result-success{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100%;

                .jobmatcher__result-successItem{
                    flex-basis: 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    height: 100%;

                    canvas{
                        width: 500px;
                        height: 500px;
                        max-width: 100%;
                        margin: auto;
                    }
                }
            }
        }
        @media only screen and (max-width: 1000px) {
            flex-direction: column;
        }
    }
    .jobmatcher__result-block {
        display: none;

        @media only screen and (max-width: 1000px) {
            display: block;
        }
    }
}