[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
flask-mysqldb = "*"
colored = "*"
termcolor = "*"
asyncio = "*"
flask = {extras = ["async"], version = "*"}
uvicorn = "*"
flask-wtf = "*"
email-validator = "*"
pybase64 = "*"
flask-cors = "*"
uuid = "*"
bson = "*"
python-dotenv = "*"
openai = "*"
tiktoken = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
pymysql = "*"
cryptography = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.6"
