/* :root{
	--background: #EFF5F5;
	--background-rgb: 239 245 245;
	
	--textColor: #000D25;
	--textColor-rgb: 91 91 91;
	
	--secondaryTextColor: #FFFFFF;
	--secondaryTextColor-rgb: 255 255 255;
	
	--primary: #FDC448;
	--primary-rgb: 253 196 72;
	
	--secondary: #eee;
	--secondary-rgb: 239 239 239;
	
	--light: #eee;
	--light-rgb: 239 239 239;
	
	--success: #B3A0CF;
	--success-rgb: 179 160 207;
	
	--danger: #F97476;
	--danger-rgb: 249 116 118;
	
	--warning: #93C6E7;
	--warning-rgb: 147 198 231;
	
	--radius: 6px;
	--borderRadiusRounded: 20px;
	
	--fontFamily: 'Poppins', sans-serif;
} */
:root{
	--background: #0D1117;
	--background-rgb: 13 17 23;
	
	--textColor: #FFFFFF;
	--textColor-rgb: 255 255 255;
	
	--secondaryTextColor: #FFFFFF;
	--secondaryTextColor-rgb: 255 255 255;
	
	--light: #0D1117;
	--light-rgb: 13 17 23;
	
	--primary: #B3A0CF;
	--primary-rgb: 179 160 207;
	
	--secondary: #161B22;
	--secondary-rgb: 22 27 34;
	
	--success: #5464C3;
	--success-rgb: 84 100 195;
	
	--danger: #F97476;
	--danger-rgb: 249 116 118;
	
	--warning: #F9B743;
	--warning-rgb: 249 183 67;
	
	--radius: 4px;
	--borderRadiusRounded: 20px;
	--fontFamily: 'Poppins', sans-serif;
	--plyr-color-main: #F97476;
}
/* :root{
	--background: #000000;
	--background-rgb: 0 0 0;
	
	--textColor: #DEDEDE;
	--textColor-rgb: 222 222 222;
	
	--secondaryTextColor: #DEDEDE;
	--secondaryTextColor-rgb: 222 222 222;
	
	--primary: #FDC448;
	--primary-rgb: 253 196 72;
	
	--secondary: #1B1B1B;
	--secondary-rgb: 27 27 27;
	
	--light: #242729;
	--light-rgb: 36	39 41;
	
	--success: #B3A0CF;
	--success-rgb: 179 160 207;
	
	--danger: #F97476;
	--danger-rgb: 249 116 118;
	
	--warning: #93C6E7;
	--warning-rgb: 147 198 231;
	
	--radius: 6px;
	--borderRadiusRounded: 20px;
	--fontFamily: 'Poppins', sans-serif;
	--secondaryFontFamily: 'Pangolin', cursive;
} */